<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - SoapySoap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Soothing Bar Logo">
        <h1>Contact Soothing Bar</h1>
    </header>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('products') }}">Products</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        {% if session.user_logged_in or session.admin_logged_in %}
            <a href="{{ url_for('logout') }}">Logout ({{ session.username }})</a>
        {% else %}
            <a href="{{ url_for('signup') }}">Sign Up</a>
            <a href="{{ url_for('login') }}">Log In</a>
        {% endif %}
    </nav>
    <div class="container">
        <h2>Get in Touch</h2>
        <p>Email: info@Soothing Bar.com</p>
        <p>Phone: +63 9633 810 341</p>
        <p>Address: Upper Tulay, Minglanilla Cebu, Philippines</p>
    </div>
    <footer>
        <p>&copy; 2025 Soothing Bar Shop. All rights reserved.</p>
    </footer>
</body>
</html>
